@{ 
    ViewData["Title"] = "To Do List... again";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<ToDoList.Models.Item>

<h2>To Do List</h2>
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>Done?</th>
        <th></th>
    </tr>

    @foreach (var listItem in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => listItem.Description)
            </td>
            <td>@Html.DisplayFor(model => listItem.Done)
            @using (Html.BeginForm("MarkDone", "Items", new { id = listItem.ItemId }))
            {
                <input type="submit" value="Toggle Done" />
            }
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = listItem.ItemId }) | 
                @Html.ActionLink("Edit", "Edit", new { id = listItem.ItemId }) | 
                @Html.ActionLink("Delete", "Delete", new { id = listItem.ItemId })
            </td>
        </tr>
    }

</table>
<p>@Html.ActionLink("Add new item", "Create")</p>