@{
    ViewData["Title"] = "To Do List: Mark Done";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ToDoList.Models.Item

<h2>Mark Done</h2>
<hr />
<h4>Edit this task: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ItemId)

    @Html.HiddenFor(model => model.Done)

    @Html.HiddenFor(model => model.Description)

    @Html.HiddenFor(model => model.CategoryId)

    <input type="submit" value="Mark Done" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>
